<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="newTab" id="admin_home" *ngIf="show=='def'">
	<!--AREA TO BE DISPLAYED AS HOME PAGE-->
	<h1 class="appTitle">PICK ME UP</h1><br><br>
	<button class="bttn centerItem homeBtn" (click)="showView('add')"> Add Driver </button><br>
	<button class="bttn centerItem homeBtn" (click)="showView('view')"> View Driver </button><br>
	<button class="bttn centerItem homeBtn" routerLink="/live-map"> View Map </button><br>
	<button class="bttn logoutBtn" >Log Out</button>
</div>

<div class="newTab" id="admin_add" *ngIf="show=='add'">
	<!--AREA TO ADD A DRIVER-->
	<p class="centerItem subTitle">Add a New Driver</p>
	<br><br>
	<form (ngSubmit)="addNewDriver(f)" #f="ngForm">
		<div class="row">
			<div class="centerItem">
				<input type="text" class="centerItem textArea" name="uid" id="uid" placeholder="Driver's ID" ngModel required>
			</div><br>
			<div class="centerItem">
				<input type="text" class="centerItem textArea" name="name" id="name" placeholder="Driver's Name" ngModel required>
			</div>	<br>
			<div class="centerItem">
				<input type="email" class="centerItem textArea" name="email" id="email" placeholder="Driver's Email" ngModel required>
			</div><br>
			<div class="centerItem">
				<input type="text" class="centerItem textArea" name="status" id="status" placeholder="Status: Active/Inactive" ngModel required>
			</div>
		</div>
		<div class="row">
			<div class="lowerButtonsArea centerItem">
				<button class="bttn lowerBtn btn-success" [ngStyle]="{'background-color': f.valid ? '#28a745' : 'gray' }" type="submit" [disabled]="!f.valid">Add</button>
				<button class="bttn lowerBtn btn-primary" type="button" (click)="clear()">Clear</button>
				<button class="bttn lowerBtn" type="button" (click)="showView('def')">Cancel</button>
			</div>
		</div>
	</form>
</div>

<div class="newTab" id="admin_view" *ngIf="show=='view'">
	<!--AREA TO ADD A DRIVER-->
	<p class="centerItem subTitle">Edit Driver Details</p>
	<br><br>
	<button class="bttn lowerBtn" type="button" (click)="showView('def')">Go Back</button>
	<div class="tableArea centerItem">
		<table class="tableContent">
			<tr class="tableHeader">
				<th>&#8681; <span>Licence ID</span></th>
				<th>&#8681; <span>Name</span></th>
				<th>&#8681; <span>Email</span></th>
				<th>&#8681; <span>Status</span></th>
				<th>&#8681; <span>Edit</span></th>
			</tr>
	
			<tr *ngFor="let driver of drivers; let i = index">
				<th>{{ driver.id }}</th>
				<th>{{ driver.name }}</th>
				<th>{{ driver.email }}</th>
				<th>{{ driver.status }}</th>
				<th> <button class="btn btn-primary material-icons" routerLink="edit/{{driver.id}}"> &#xe150; </button></th>
			</tr>
		</table>
	</div>
	<div class="smallDevice centerItem">
		<p><br>Small screen detected, scroll left from more data.<br>
			<span class="material-icons">&#xea50;</span></p>			
	</div>
</div>


