 
	<p class="centerItem subTitle">Select your destination</p>
	<div class="googleMaps">
		<div *ngIf="show">
			<google-map width="100%" height="400px"
						[center]="center"
						[zoom]="zoom"
						(mapClick)="addMarker($event)" >
			  <map-marker [position]="dropOffPosition"
						  [options]="markerOptions"></map-marker>
			</google-map>
		</div>
	</div>
	
	<div class="lowerButtonsArea centerItem">
		<button class="bttn lowerBtn" (click)="newPickup()">Confirm</button>
		<button class="bttn lowerBtn" (click)="showMap()">Open Map</button> <hr>
	</div>
