

<div style=" width: 300px; margin: 0 auto;" class="newTab" >
	<h1 class="appTitle">Pick Me Up</h1>
	<br>
	<br>
	<div *ngIf="!showList">
		<button class="bttn centerItem homeBtn" routerLink="/pickups/new"> Request Pickup </button>
		<button class="bttn centerItem homeBtn" routerLink="/live-map"> View Map </button>
		<button class="bttn centerItem homeBtn" *ngIf="showRequestButton" (click)="switchView()"> View Requests </button>
		<button class="bttn logoutBtn" >Log Out</button>
	</div>

	<table *ngIf="showList" width="100%">
		<tr><hr></tr>
		<tr>
			<th width="75%">Time since Request</th>
			<th width="25%">More Info</th>
		</tr>
		<TBODY *ngIf="showDriverPickups">
			<tr *ngFor="let pickup of driverPickups">
				<td>{{ convertToString(currentDate.valueOf() - pickup.dateTimeSeconds) }}</td>
				<td><button style="width: 35px; margin: 0 auto; display: block" class="btn btn-primary" routerLink="/pickups/{{ pickup.id }}"> X </button></td>
			</tr>	
		</TBODY>
		<TBODY *ngIf="!showDriverPickups">
			<tr *ngFor="let pickup of pickups">
				<td>{{ convertToString(currentDate.valueOf() - pickup.dateTimeSeconds) }}</td>
				<td><button style="width: 35px; margin: 0 auto; display: block" class="btn btn-primary" routerLink="/pickups/{{ pickup.id }}"> X </button></td>
			</tr>
		</TBODY>
		
		<button class="bttn centerItem homeBtn" (click)="switchView()"> View Menu </button>
	</table>

</div>
