 <!-- PAGE TO SHOW THE REQUEST LIST AND DETAILS -->

<h1 class="centerItem">Pickup Details</h1>
<!-- AREA ONLY VISIBLE BY ADMINS AND DRIVERS -->
<!-- AREA TO CLAIM, UNCLAIM, RETIEVE A DRIVER AND FINISH A TRIP -->
<div  *ngIf="priv == 'Driver' || priv == 'Admin'">
	<div *ngIf="pickup" class="centerItem">
		<h3 class=" btn-danger" *ngIf="pickup.status == 'canceled'">Canceled</h3>
		<button class="btn btn-success" *ngIf="pickup.status == 'unclaimed'" (click)='claim()'>Claim</button>
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'claimed')" (click)='unclaim()'>Unclaim</button>		
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'claimed')" (click)='retrieved()'>Retrieved</button>
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'retrieved')" (click)='delivered()'>Delivered</button>
	</div>
	<br>
</div>
 <!-- AREA VISIBLE BY CLIENTS -->
<div  *ngIf="priv == 'Anon'">
	<div *ngIf="pickup">
		<!-- REQUEST STATUS DETAIL -->
		<h3 style="text-transform:capitalize;">Status: {{ pickup.status }}</h3>
		<!-- BUTTON TO CANCEL THE REQUEST -->
		<button class="btn btn-danger" *ngIf="pickup.status == 'unclaimed'" (click)='cancel()'>Cancel</button>
		<!-- AREA DISPLAYED TO CLIENT ABOUT THE DRIVER'S DETAILS THAT CLAIMED THE REQUEST -->
		<div *ngIf="driverLoaded">
			<br>
			<h3 class="subTitle">Driver Information</h3>
			<h4>Name: {{ driver.name }}</h4>
			<h4>Rating: {{ driver.rating }}</h4>
			<br>
			<h3 class="subTitle">Car Information</h3>
			<h4>Model: {{ driver.cars[driver.currentCar].model }}</h4>
			<h4>Year: {{ driver.cars[driver.currentCar].year }}</h4>
			<h4>Color: {{ driver.cars[driver.currentCar].color }}</h4>
			<h4>Brand: {{ driver.cars[driver.currentCar].brand }}</h4>
		</div>
	</div>
</div>
 <!-- GOOGLE MAP FRAME - DISPLAY'S THE ROUTE -->
<div *ngIf="showMap">
	<google-map width="100%" height="400px"
	            [center]="center"
	            [zoom]="zoom"
	             #map>
	  <map-marker *ngFor="let markerPosition of markerPositions"
	              [position]="markerPosition"
	              [options]="markerOptions"></map-marker>
	    <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
	               [directions]="directionsResults"></map-directions-renderer>

	</google-map>
</div>
<!-- THE RATING FORM DISPLAYED TO CLIENT TO RATE HIS/HER TRIP -->
<div *ngIf="showRatingForm">
	<h3 class="subTitle">Rate me!</h3>
	<input type="number" class="textArea" min="0" max="5" name="" [(ngModel)]="stars">
	<input type="text" class="textArea" placeholder="description" [(ngModel)]="rating">
	<br>
	<button class="bttn btn-success" (click)="submitRating()">Submit</button>
</div>
