<h1 class="centerItem">Pickup Details</h1>

<div  *ngIf="priv == 'Driver' || priv == 'Admin'">
	<div *ngIf="pickup" class="centerItem">
		<h3 class=" btn-danger" *ngIf="pickup.status == 'canceled'">Canceled</h3>
		<button class="btn btn-success" *ngIf="pickup.status == 'unclaimed'" (click)='claim()'>Claim</button>
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'claimed')" (click)='unclaim()'>Unclaim</button>		
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'claimed')" (click)='retrieved()'>Retrieved</button>
		<button class="btn btn-danger" *ngIf="(pickup.driver == authenticationService.data.uid) && (pickup.status == 'retrieved')" (click)='delivered()'>Delivered</button>
	</div>
	<br>
</div>
<div  *ngIf="priv == 'Anon'">
	<div *ngIf="pickup">
		<h3 style="text-transform:capitalize;">Status: {{ pickup.status }}</h3>
		<button class="btn btn-danger" *ngIf="pickup.status == 'unclaimed'" (click)='cancel()'>Cancel</button>
		<div *ngIf="driverLoaded">
			<br>
			<h3>Driver Information</h3>
			<h3>Name: {{ driver.name }}</h3>
			<h3>Rating: {{ driver.rating }}</h3>
			<br>
			<h3>Car Information</h3>
			<h3>Model: {{ driver.cars[driver.currentCar].model }}</h3>
			<h3>Year: {{ driver.cars[driver.currentCar].year }}</h3>
			<h3>Color: {{ driver.cars[driver.currentCar].color }}</h3>
			<h3>Brand: {{ driver.cars[driver.currentCar].brand }}</h3>
		</div>
	</div>
</div>

<div *ngIf="showMap">
	
	<google-map width="100%" height="400px"
	            [center]="center"
	            [zoom]="zoom"
	             #map>
	  <map-marker *ngFor="let markerPosition of markerPositions"
	              [position]="markerPosition"
	              [options]="markerOptions"></map-marker>
	    <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
	               [directions]="directionsResults"></map-directions-renderer>

	</google-map>
</div>

<div *ngIf="showRatingForm">
	<h1>Rate me!</h1>
	<input type="number" min="0" max="5" name="" [(ngModel)]="stars">
	<input type="text" [(ngModel)]="rating">
	<button (click)="submitRating()">Submit</button>
</div>
